[Desktop Entry]
Name=Authenticator
Version=1.0
Comment=Programa para autenticação de dois fatores.
Exec=/opt/Authenticator/authenticator
Icon=/opt/Authenticator/icons/cadeado64.png
Terminal=false
Type=Application
Categories=Aplicativos;
